[customizations.installer.kickstart]
contents = """
keyboard --vckeymap=us --xlayouts='us'
lang en_US
timezone --utc Australia/Sydney
timesource --ntp-pool au.pool.ntp.org

#Root password
rootpw --lock

%post
#bootc switch --mutate-in-place --enforce-container-sigpolicy --transport registry ghcr.io/aussielunix/mystation:edge
# DELETEME: This is a nasty hack. Remove whenever http://github.com/bootc-dev/bootc/commit/f7b41cc1ebfc823e9de848b55773faddc59ecf88 makes it into a release
sed -i 's|container-image-reference=.*|container-image-reference=ostree-image-signed:docker://ghcr.io/aussielunix/mystation:edge|' /ostree/deploy/default/deploy/*.origin
%end
"""

[customizations.installer.modules]
enable = [
    "org.fedoraproject.Anaconda.Modules.Users",
    "org.fedoraproject.Anaconda.Modules.Payloads",
    "org.fedoraproject.Anaconda.Modules.Storage",
    "org.fedoraproject.Anaconda.Modules.Runtime"
]

disable = [
    "org.fedoraproject.Anaconda.Modules.Localization",
    "org.fedoraproject.Anaconda.Modules.Security",
    "org.fedoraproject.Anaconda.Modules.Network",
    "org.fedoraproject.Anaconda.Modules.Services",
    "org.fedoraproject.Anaconda.Modules.Subscription",
    "org.fedoraproject.Anaconda.Modules.Timezone"
]
