[customizations.installer.kickstart]
contents = """
keyboard --vckeymap=us --xlayouts='us'
lang en_US
timezone --utc Australia/Sydney
timesource --ntp-pool au.pool.ntp.org

rootpw --lock

%post
bootc switch --mutate-in-place --transport registry ghcr.io/aussielunix/mystation:edge
%end
"""

[customizations.installer.modules]
enable = [
    "org.fedoraproject.Anaconda.Modules.Users",
    "org.fedoraproject.Anaconda.Modules.Payloads",
    "org.fedoraproject.Anaconda.Modules.Runtime"
]

disable = [
    "org.fedoraproject.Anaconda.Modules.Localization",
    "org.fedoraproject.Anaconda.Modules.Network",
    "org.fedoraproject.Anaconda.Modules.Storage",
    "org.fedoraproject.Anaconda.Modules.Security",
    "org.fedoraproject.Anaconda.Modules.Services",
    "org.fedoraproject.Anaconda.Modules.Subscription",
    "org.fedoraproject.Anaconda.Modules.Timezone"
]
