[customizations.installer.kickstart]
contents = """
keyboard --vckeymap=us --xlayouts='us'
lang en_AU.UTF-8
timezone --utc Australia/Sydney

rootpw --lock
"""

#[customizations.installer.modules]
#enable = [
#  "org.fedoraproject.Anaconda.Modules.Storage"
#]
#
#disable = [
#  "org.fedoraproject.Anaconda.Modules.Users",
#  "org.fedoraproject.Anaconda.Modules.Security",
#  "org.fedoraproject.Anaconda.Modules.Timezone",
#  "org.fedoraproject.Anaconda.Modules.Services",
#  "org.fedoraproject.Anaconda.Modules.Network",
#  "org.fedoraproject.Anaconda.Modules.Subscription"
#]
