---

name: CI - Build Custom Image

env:
  IMAGE_NAME: "${{ github.event.repository.name }}"  # the name of the image produced by this build, matches repo names

on:
  push:
    branches: ['main']
    tags: ['v*.*']      # Trigger semver on tagged releases
    paths-ignore:
      - '**/README.md'
  pull_request:
jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Required for accurate tag detection

      - name: Login to Registry (e.g., GHCR or Docker Hub)
        uses: docker/login-action@v3
        with:
          registry: ghcr.io  # or docker.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}  # Use appropriate secret for Docker Hub

      - name: Extract metadata (tags, labels)
        id: meta
        uses: docker/metadata-action@v5.10.0
        with:
          images: aussielunix/mystation
          tags: |
            type=edge,enable=true,prefix=,suffix=,branch=main
            type=match,pattern=v(\d+)\.\d+,group=1
          labels: |
            org.opencontainers.image.vendor=${{ github.repository_owner }}
            org.opencontainers.image.documentation=https://raw.githubusercontent.com/${{ github.repository_owner }}/${{ env.IMAGE_NAME }}/refs/heads/main/README.md

      - name: Build Image
        id: build_image
        uses: redhat-actions/buildah-build@v2
        with:
          containerfiles: |
            ./Containerfile
          image: ${{ env.IMAGE_NAME }}
          tags: ${{ steps.meta.outputs.tag-names }}
          labels: ${{ steps.meta.outputs.labels }}
          oci: false

