---

# Runs every Monday at 03:00 UTC
name: Cleanup Registry Images
on:
  workflow_dispatch:
  schedule:
    - cron: '0 3 * * MON'
jobs:
  cleanup:
    runs-on: ubuntu-latest
    concurrency:
      group: cleanup-registry
    steps:
      - name: Delete old container images
        uses: snok/container-retention-policy@v3.0.0
        with:
          account: user
          token: ${{ secrets.GITHUB_TOKEN }}
          image-names: "mystation"
          cut-off: 90 days
          image-tags: "!43 !44 !latest !edge"
          tag-selection: both
