---

# Runs every Monday at 03:00 UTC
name: Cleanup Registry Images
on:
  workflow_dispatch:
  schedule:
    - cron: '0 3 * * MON'
jobs:
  cleanup:
    runs-on: ubuntu-latest
    concurrency:
      group: cleanup-registry
    steps:
      - name: Delete old container images
        uses: dataaxiom/ghcr-cleanup-action@v1
        with:
          exclude-tags: '42,43,44,latest,edge'
          older-than: 90 days
          delete-untagged: true
          dry-run: true
